<?xml version="1.0" encoding="windows-1252"?>
<Wix 
	xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Name="Telegraf-stats-collector-logz" Manufacturer="Logz.io" Id="*" UpgradeCode="MANDATORY-UNIQUE-GUID-HERE" Language="1033" Codepage="1252" Version="1.1.1">
		<Package Keywords="Installer" Description="Windows Installer for Telegraf agent" Comments="a good intelligent comment here" Manufacturer="Logzio" InstallerVersion="400" Languages="1033" SummaryCodepage="1252" Platform="x64" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine"/>

	
		<Media Id="1" Cabinet="telegraf.cab" EmbedCab="yes"/>

		<Property Id="LOGZIOTOKEN" Value="NOTSET" Admin="yes" Secure="yes"/>
		<Property Id="LOGZIOLISTENER" Value="NOTSET" Admin="yes" Secure="yes"/>


		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder" Name="PFiles">
				<Directory Id="OrgName" Name="OrgName">
					<Directory Id="INSTALLDIR" Name="Telegraf">

						<Component Id="MainExecutable" Guid="MANDATORY-UNIQUE-GUID-HERE" Win64="yes">
							<File Id="TelegrafEXE" Name="telegraf.exe" DiskId="1" Source="telegraf.exe" KeyPath="yes"/>
						</Component>
						<Component Id="BuildFile" Guid="MANDATORY-UNIQUE-GUID-HERE" Win64="yes">
							<File Id="BuildFileCONF" Name="build-ms.bat" DiskId="1" Source="build-ms.bat" KeyPath="yes"/>
						</Component>
						<Component Id="LogzIoTokenRegistryEntry" Guid="MANDATORY-UNIQUE-GUID-HERE" Win64="yes">
							<RegistryKey Root="HKLM" Key="SYSTEM\ControlSet001\Control\Session Manager\Environment">
								<RegistryValue Type="string" Name="LOGZIO_TOKEN" Value="[LOGZIOTOKEN]" KeyPath="yes"/>
							</RegistryKey>
						</Component>
						<Component Id="LogzIoListenerRegistryEntry" Guid="MANDATORY-UNIQUE-GUID-HERE" Win64="yes">
							<RegistryKey Root="HKLM" Key="SYSTEM\ControlSet001\Control\Session Manager\Environment">
								<RegistryValue Type="string" Name="LOGZIO_LISTENER" Value="[LOGZIOLISTENER]" KeyPath="yes"/>
							</RegistryKey>
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<!-- Actions to execute before the installation -->
		<CustomAction Id="ExecServiceUninstall" 
			Directory="INSTALLDIR" Execute="deferred" Impersonate="no" 
			ExeCommand='"[INSTALLDIR]telegraf.exe" "--service" "uninstall"' 
			Return="check"/>

		<!-- Actions to create config file -->
		
		<CustomAction Id="ExecServiceConfig" 
			Directory="INSTALLDIR" Execute="deferred" Impersonate="no" 
			ExeCommand='[INSTALLDIR]build-ms.bat [LOGZIOTOKEN] [LOGZIOLISTENER]' 
			Return="check"/>

		<!-- Actions to execute after the installation -->
		<CustomAction Id="ExecServiceInstall" 
			Directory="INSTALLDIR" Execute="deferred" Impersonate="no" 
			ExeCommand='"[INSTALLDIR]telegraf.exe" "--service" "install" "--config" "[INSTALLDIR]telegraf.conf"' 
			Return="check"/>
		
		<CustomAction Id="ExecServiceStart" 
			Directory="INSTALLDIR" Execute="deferred" Impersonate="no" 
			ExeCommand='"[INSTALLDIR]telegraf.exe" "--service" "start"' 
			Return="check"/>

		<!-- list of "features" of the installer package -->
		<Feature Id="Complete" Level="1">
			<ComponentRef Id="MainExecutable"/>
			<ComponentRef Id="BuildFile" />
			<ComponentRef Id="LogzIoTokenRegistryEntry"/>
			<ComponentRef Id="LogzIoListenerRegistryEntry"/>
		</Feature>

		<InstallExecuteSequence>
			<Custom Action="ExecServiceUninstall" After="InstallInitialize">UPGRADINGPRODUCTCODE</Custom>
			<Custom Action="ExecServiceConfig" Before="InstallFinalize"/>
			<Custom Action="ExecServiceInstall" Before="InstallFinalize"/>
			<Custom Action="ExecServiceStart" Before="InstallFinalize"/>
		</InstallExecuteSequence>

	</Product>
</Wix>